.naglowek {
  color: black;
  text-align: center;
  background-color: rgba(226, 226, 235, 0.863)
}

.nastepnynaglowek {
  color: black;
  text-align: center;
  background-color: rgba(226, 226, 235, 0.863)
}

.trzecinaglowek {
  color: black;
  text-align: center;
    background-color: rgba(226, 226, 235, 0.863)
}
